<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet"/>
		<link href="../../css/user.css" rel="stylesheet"/>
		<script src="../../js/vue.min.js"></script>
	</head>
	<body>
		<div class="mui-content" style="margin-top: -10px;">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a class="mui-navigate-right user-head">
						<img class="mui-media-object mui-pull-left image" src="../../img/head.png">
						<div class="mui-media-body" id="user">
							{{ nickName }}
							<p class='mui-ellipsis'>树洞号：{{ uid }}</p>
						</div>
					</a>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">收藏</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">相册</a>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">设置</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">关于</a>
				</li>
			</ul>
			<div class="mui-content-padded">
				<button @click="login" type="button" class="mui-btn mui-btn-block mui-btn-red">退出</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/data/user.js"></script>
	</body>
</html>
