<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.indexedlist.css" rel="stylesheet" />
		<!-- <link href="../../css/app.css" rel="stylesheet"/> -->
		<style>
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
			/* .mui-bar {
				-webkit-box-shadow: none;
				box-shadow: none;
			} */
		</style>
	</head>
	<body>
		<div class="mui-content">
			<div id='list' class="mui-indexed-list">
				<div class="mui-indexed-list-search mui-input-row mui-search">
					<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索">
				</div>
				<div class="mui-indexed-list-bar">
					<a>A</a>
					<a>B</a>
					<a>C</a>
					<a>D</a>
					<a>E</a>
					<a>F</a>
					<a>G</a>
					<a>H</a>
					<a>I</a>
					<a>J</a>
					<a>K</a>
					<a>L</a>
					<a>M</a>
					<a>N</a>
					<a>O</a>
					<a>P</a>
					<a>Q</a>
					<a>R</a>
					<a>S</a>
					<a>T</a>
					<a>U</a>
					<a>V</a>
					<a>W</a>
					<a>X</a>
					<a>Y</a>
					<a>Z</a>
				</div>
				<div class="mui-indexed-list-alert"></div>
				<div class="mui-indexed-list-inner">
					<div class="mui-indexed-list-empty-alert">没有数据</div>
					<ul class="mui-table-view" id="contact-list">
						<li data-group="A" class="mui-table-view-divider mui-indexed-list-group">A/li>
					</ul>
				</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/data/vg.js"></script>
		<script src="../../js/Page.toPinYin.js"></script>
		<script src="../../js/mui.indexedlist.js"></script>
		<script src="../../js/data/contact.js"></script>
	</body>
</html>